# Database
DATABASE_URL=""
REDIS_URL=""
RENDER_DATABASE_URL=""

# API Keys (we'll add these once you get them)
GEMINI_API_KEY=""
ALPHA_VANTAGE_API_KEY=""

# JWT Secret (generate a random string)
# JWT_SECRET="54654532eUIWLKLKk4654654nsndJJJDL212965DS"

# Server Configuration
PORT=3001
NODE_ENV="development"
FRONTEND_URL="http://localhost:3000"


GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
SESSION_SECRET=""
